<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://raw.githubusercontent.com/microo8/wallgen/master/wallpaper.png');">
  <div class="banner-content">

    <h1>Search Github Languages</h1>
    <br>
    <br>
    <br>
    <br>
    <select name="language" id="" class="form-control input-lg search-bar select-input">
      <option value="All">Select the language</option>
      <option value="Jquery">Jquery</option>
      <option value="CSS">CSS</option>
      <option value="HTML">HTML</option>S
      <option value="JAVA">JAVA</option>
    </select>

    <a class="btn btn-primary btn-lg"><%= link_to "Click here to Search", load_list_path %></a>
  </div>
</div>

<!-- <a class="btn btn-primary btn-lg">Search</a> -->
<!-- <p> <%#= link_to "Search", load_list_path %></p> -->
